[Unit]
Description=Perfetto Service
Requires=traced.service traced_probes.service
After=traced.service traced_probes.service

[Service]
ExecStart=/opt/perfetto/perfetto -c /opt/perfetto/ulvt_trace.cfg -o trace --txt

[Install]
WantedBy=multi-user.target
